<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito - {{cartId}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h2>Carrito {{cartId}}</h2>
  <ul id="cart-product-list" data-cart-id="{{cartId}}">
    {{#each cartProducts}}
      <li data-product-id="{{this.product._id}}">  
        {{this.product.title}} - 
        <a href="/products/{{this.product._id}}">Ver Detalles</a> 
        Cantidad: <input type="number" class="quantity-input" min="1" value="{{this.quantity}}"> -
        <span class="unit-price">Precio unitario: ${{this.product.price}}</span> - 
        <span class="subtotal">Subtotal: ${{multiply this.quantity this.product.price}}</span> -
        <button class="delete-product" data-product-id="{{this.product._id}}">Eliminar</button>
      </li>
    {{/each}}
  </ul>

  <div id="cart-total-container"></div> 
  <button id="empty-cart-button" data-cart-id="{{cartId}}">Vaciar Carrito</button>
  <a href="/">Volver al Home</a> 

  <script src="/js/cart.js"></script>
</body>
</html>

